name: Ubuntu 20.04 Build Job

on: [push, pull_request]

jobs:
  build:
    name: Build on Ubuntu Focal
    runs-on: ubuntu-latest

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v1
      - name: Build LTFS
        id: build
        uses: LinearTapeFileSystem/Ubuntu2004-Build@v1.1
        with:
          destination: '/tmp/ltfs'
